<h2>ABOUT</h2>


<p>Mándanos tu información si quieres recibir las últimas noticias</p>

<app-form></app-form>

<p>Esta es una página fanmade creada con el fin de ir recopilando las batallas sucedidas en la Herejía de Horus, las legiones que participaron en ellas y quién las ganó. Dando información así a los herejes que os hayáis aventurado hasta llegar aquí...</p>

<div class="enlaces">
    <a name="fuentes"></a>
    <h2 class="hero-title1">Fuentes y Enlaces Externos</h2>
    <h6 class="hero-caption">ASTARTES de Sayama Pedersen</h6>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/O7hgjuFfn3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h6 class="hero-caption">WIKIHAMMER 40K</h6>
    <a href="https://warhammer40k.fandom.com/es/wiki/Warhammer_40000_Wiki">
      Warhammer 40k Fandom - WikiHammer</a
    >
    <p>
      Página creada por fans que trata de contener todo el conocimiento del
      universo de Warhammer 40000
    </p>
    <h6 class="hero-caption">La Biblioteca de Tizca</h6>
    <a href="https://www.youtube.com/c/LaBibliotecadeTizca"
      >La Biblioteca de Tizca</a
    >
    <p>
      La Biblioteca de Tizca es un podcast amateur que explica lore y
      contenido del universo de Warhammer 40000 desde las plataformas Itunes,
      Ivoox y Youtube
    </p>
  </div>