@import "../../../styles.scss";

h6 {
    
    text-align: center;
    margin-top: 40px;
    color: $crawl;
    text-shadow: 0 0 3px black, 1px 1px 5px $blue;
    padding: 5px;
    font-size: 20px;
}

h2{
  color: $crawl;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  text-shadow: 0 0 3px black, 1px 1px 5px $blue;
    margin-bottom: 60px;
}
p {
    color: $crawl;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.enlaces {
    text-align: center;
    padding: 30px, 50px;
    
}
iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}

a {
    text-decoration: underline;
}
.hero-title1 {
    margin-top: 100px;
}